@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

@import "variables-light.css";

/* Font Family for Intire Page */
body {
  font-family: var(--pageFontFamily);
}

/* Page Container */
.page-container {
  background-color: var(--colorBase200);
  padding: var(--spacing5Xl) var(--spacing2Xl);
  border-radius: var(--borderRadius2Xl);
}

/* All Sections Shadow */
.section.shadow-sm {
  box-shadow: var(--sectionShadowX) var(--sectionShadowY)
    var(--sectionShadowBlur) var(--colorNeutral200) !important;
}

/* All Sections Style */
.section {
  padding: var(--spacingXl);
  margin-bottom: 24px;
  border-width: 0px;
  border-radius: var(--sectionBorderRadius) !important;
  border-color: #ececed;
  background-color: var(--colorBase100) !important;
}

/* All Sections Title Style */
.section-title {
  font-weight: var(--fontWeightBold);
  font-size: var(--fontSizeMd);
  line-height: var(--fontLineHeightMd);
  margin-bottom: var(--spacingXl);
  color: var(--colorNeutral600);
}

/* All Avatars Border Radius */
.avatar {
  border-radius: var(--borderRadiusFull);
}

/* ////////////////////////////   Meeting Section Style Start Here   ////////////////////////////  */

/* Avatar Small Style */
.avatar-small {
  height: var(--sizingXs);
  margin-right: var(--spacing5Xs);
}

/* Meeting Card Style */
.meeting-card {
  padding: var(--spacingXl);
  margin-bottom: var(--spacingSm);
  border-radius: var(--meetingCardBorderRadius);
}

/* Meeting Card Title Style */
.meeting-card .title {
  font-weight: var(--fontWeightMedium);
  font-size: var(--fontSizeMd);
  line-height: var(--fontLineHeightMd);
  margin-bottom: var(--spacingXs);
}

/* Meeting Card Time Style  */
.meeting-card .time {
  font-weight: var(--fontWeightMedium);
  font-size: var(--fontSizeSm);
  line-height: var(--fontLineHeightSm);
  margin-bottom: var(--spacingSm);
}

.meeting-card .avatar {
  border-width: var(--borderWidthMd);
  border-style: solid;
}

/* Meeting Card Primary Style */
.meeting-card.primary {
  background-color: var(--meetingCardPrimaryBgColor);
  border-left: var(--borderWidthLg) solid var(--meetingCardPrimaryBorderColor) !important;
}

/* Meeting Card Primary Title Style */
.meeting-card.primary .title {
  color: var(--meetingCardPrimaryTitleFontColor);
}

/* Meeting Card Primary Time Style */
.meeting-card.primary .time {
  color: var(--meetingCardPrimaryTimeFontColor);
}

/* Meeting Card Primary Avatar Style */
.meeting-card.primary .avatar {
  border-color: var(--meetingCardPrimaryAvatarBorderColor);
}

/* Meeting Card Secondary Style  */
.meeting-card.secondary {
  background-color: var(--meetingCardSecondaryBgColor);
  border-left: var(--borderWidthLg) solid var(--meetingCardSecondaryBorderColor) !important;
}

/* Meeting Card Secondary Title Style */
.meeting-card.secondary .title {
  color: var(--meetingCardSecondaryTitleFontColor);
}

/* Meeting Card Secondary Title Style */
.meeting-card.secondary .time {
  color: var(--meetingCardSecondaryTimeFontColor);
}

/* Meeting Card Secondary Avatar Style */
.meeting-card.secondary .avatar {
  border-color: var(--meetingCardSecondaryAvatarBorderColor);
}

/* Meeting Card Tertiary Style  */
.meeting-card.tertiary {
  background-color: var(--meetingCardTertiaryBgColor);
  border-left: var(--borderWidthLg) solid var(--meetingCardTertiaryBorderColor) !important;
  margin-bottom: var(--spacingNone);
}

/* Meeting Card Tertiary Title Style */
.meeting-card.tertiary .title {
  color: var(--meetingCardTertiaryTitleFontColor);
}

/* Meeting Card Tertiary Time Style */
.meeting-card.tertiary .time {
  color: var(--meetingCardTertiaryTimeFontColor);
}

/* Meeting Card Tertiary Avatar Style */
.meeting-card.tertiary .avatar {
  border-color: var(--meetingCardTertiaryAvatarBorderColor);
}

/* ////////////////////////////   Apps Notifications Section Style Start Here   ////////////////////////////  */

/* App Notification List style */
.apps-notifications .list {
  margin-bottom: var(--spacingXl);
}

/* App Notification Image Style */
.apps-notifications img {
  margin-right: var(--spacingSm);
}

/* App Notification Title Style */
.apps-notifications .title {
  color: var(--colorNeutral600);
  font-weight: var(--fontWeightMedium);
  font-size: var(--fontSizeMd);
  line-height: var(--fontLineHeightMd);
}

/* Don't Touch */
.form-check-input {
  margin-top: 0px;
}

/* Don't Touch */
.form-switch .form-check-input {
  --bs-form-switch-bg: none;
  background-image: none;
  position: relative;
  transition: all 0.3s ease;
}

/* Don't Touch */
.form-check-input:focus,
.form-check-input:active {
  box-shadow: none;
  border: none;
  outline: none;
}

/* App Notification Toggle Style */
.form-switch .form-check-input {
  width: 38px !important;
  height: 22px !important;
  border-radius: var(--borderRadius2Xl);

  /* TODO */
  /* width: var(--sizingLg) !important; */
  /* height: var(--sizing2Xs) !important; */
}

/* App Notification Toggle Unchecked Style */
.form-switch .form-check-input {
  background-color: var(--toggleUncheckedBgColor);
  border-color: var(--toggleUncheckedBgColor);
}

/* App Notification Toggle Unchecked Circle Style */
.form-switch .form-check-input::before {
  content: "";
  position: absolute;
  left: 2px;
  width: var(--sizing3Xs) !important;
  height: var(--sizing3Xs) !important;
  /* TODO */
  /* background-color: var(--toggleUncheckedCircleBgColor); */
  background-color: #ffffff;
  border-radius: var(--borderRadius2Xl);
  transition: transform 0.3s ease;
  top: 50%;
  transform: translateY(-50%);
}

/* App Notification Toggle Checked Style */
.form-switch .form-check-input:checked {
  background-color: var(--colorPrimary600);
  border-color: var(--colorPrimary600);
}

/* App Notification Toggle Checked Circle Style */
.form-switch .form-check-input:checked::before {
  content: "";
  position: absolute;
  left: -6px;

  width: var(--sizing3Xs) !important;
  height: var(--sizing3Xs) !important;
  background-color: var(--colorBase100);
  border-radius: var(--borderRadius2Xl);
  transition: transform 0.3s ease;

  top: 50%;
  transform: translate(1.5rem, -50%);
}

/* Don't Touch */
.form-check-input:checked:focus::before,
.form-check-input:checked:active::before {
  position: absolute;
  left: -5px;
  top: 50%;
  transform: translate(1.5rem, -50%);
}

/* Don't Touch */
.form-check-input:focus::before,
.form-check-input:active::before {
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

/* ////////////////////////////   Header Section Style Start Here   ////////////////////////////  */

/* Avatar Large Style */
.avatar-large {
  height: var(--sizing11Xl);
  border-radius: var(--avatarLargeBorderRadius);
}

/* Header Section Avatar Margin Bottom */
.header .avatar {
  margin-bottom: var(--spacingXs);
}

/* Header Section Name Style */
.header .name {
  font-size: var(--fontSizeLg);
  line-height: var(--fontLineHeightLg);
  font-weight: var(--fontWeightMedium);
  color: var(--colorNeutral600);
  margin-bottom: var(--spacing2Xs);
}

/* Header Section Role Style */
.header .role {
  font-size: var(--fontSizeMd);
  line-height: var(--fontLineHeightMd);
  font-weight: var(--fontWeightMedium);
  color: var(--colorNeutral400);
}

/* Header Section Title Style  */
.header .title {
  font-size: var(--fontSizeXl);
  line-height: var(--fontLineHeightXl);
  font-weight: var(--fontWeightBold);
  color: var(--colorNeutral600);
  margin-top: var(--spacingMd);
  margin-bottom: var(--spacingNone);
}

/* ////////////////////////////   Navbar Section Style Start Here   ////////////////////////////  */

/* Navbar Section Style */
.section.navbar {
  padding: var(--spacingMd) var(--spacingXl);
}

/* Navbar Section Logo Name Style */
.logo-name {
  color: #3f404d;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
}

/* Navbar Section Logo Icon Style */
.navbar .logo-icon {
  background-color: #916dff;
  color: #ffffff;
  font-size: 20px;
  padding: 12px;
  border-radius: 8px;
  margin-right: 12px;
}

/* Navbar Section Link Default Style */
.nav-item .nav-link {
  color: #3f404d;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  background-color: transparent;
  padding: 12px 16px !important;
  border-radius: 4px;
}

/* Navbar Section Link Hover Style */
.nav-item .nav-link:hover {
  background-color: #dedde0;
}

/* Navbar Sections Links Gap */
.navbar-nav {
  gap: 8px;
}

/* Navbar Section Link Icon Style */
.nav-item i {
  font-size: 12px;
  margin-left: 8px;
  position: relative;
  top: -2px;
}

/* Don't Touch */
.nav-link.dropdown-toggle::after {
  display: none;
}

/* ////////////////////////////   Select Price Item Section Style Start Here   ////////////////////////////  */

/* Select Section Style */
.section.select {
  margin-bottom: var(--spacingNone);
  border: var(--borderWidthMd) solid var(--colorPrimary500);
}

/* Select Section Title Style */
.select .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #3f404d;
  margin-bottom: 12px;
}

/* Select Section Description style */
.select .desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #86878f;
}

/* Select Section Price Style */
.select .price {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #3f404d;
}

/* Select Section Content Style */
.select .content {
  gap: 0px;
  display: flex;
  flex-direction: column;
}

/* Select Section Radio Buton Style */
.form-check-input:checked {
  background-color: #794dff;
  border-color: #794dff;
}

/* ////////////////////////////   Tabs Section Style Start Here   ////////////////////////////  */

/* Tabs Section Style */
.nav-tabs {
  background-color: #cecbdc;
  padding: 4px 4px;
  border-radius: 8px;
  --bs-nav-tabs-border-width: initial;
  border: none;
}

/* Tab Section Link Default Style */
.nav-tabs .nav-link {
  background-color: #cecbdc;
  color: #3f404d;
  padding: 8px 12px !important;
  border-radius: 4px;
  border: none;
}

/* Tab Section Link Hover Style */
.nav-tabs .nav-link:hover {
  background-color: #cecbdc;
  color: #794dff;
  border-radius: 4px;
  border: none;
}

/* Tab Section Link Active Style */
.nav-tabs .nav-link.active {
  background-color: #794dff;
  color: #f2edff;
  border-radius: 4px;
  border: none;
}

/* ////////////////////////////   Input Field Section Style Start Here   ////////////////////////////  */

/* Input Field Default Style */
.form-control {
  background-color: var(--colorBase100);
  border: var(--borderWidthSm) solid var(--inputFieldDefaultBorderColor);
  border-radius: var(--inputFieldBorderRadius);
  padding: var(--spacingXs) var(--spacingMd);
  font-size: var(--fontSizeMd);
  line-height: var(--fontLineHeightMd);
  font-weight: var(--fontWeightMedium);
}

/* Input Field Filled Style */
.form-control:not(:placeholder-shown) {
  border-color: --var(--inputFieldDefaultBorderColor);
  color: var(--inputFieldFocusFontColor) !important;
}

/* Input Field Default Placeholder Style */
.form-control::placeholder {
  font-size: var(--fontSizeMd);
  line-height: var(--fontLineHeightMd);
  font-weight: var(--fontWeightMedium);
  color: var(--inputFieldDefaultFontColor) !important;
}

/* Input Field Hover Style */
.form-control:hover {
  background-color: var(--colorBase100);
  border-color: var(--inputFieldHoverBorderColor);
}

/* Input Field Hover Placeholder Style */
.form-control:hover::placeholder {
  color: var(--inputFieldHoverFontColor) !important;
}

/* Input Field Focus Style */
.form-control:focus {
  background-color: var(--colorBase100);
  border-color: var(--inputFieldFocusBorderColor);
  outline: none;
  box-shadow: none;
}

/* Input Field Focus Placeholder Style */
.form-control:focus::placeholder {
  color: var(--inputFieldFocusFontColor) !important;
}

/* ////////////////////////////   Buttons Section Style Start Here   ////////////////////////////  */

/* Buttons Style */
.btn {
  border-radius: 16px;
  padding: 16px 32px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  border: none;
}

/* Buttons Primary Default Style */
.btn-primary {
  background-color: #916dff;
  color: #f2edff;
}

/* Buttons Primary Hover Style */
.btn-primary:hover {
  background-color: #794dff;
  color: #f2edff;
}

/* Buttons Primary Focused Style */
.btn-primary:focus,
.btn-primary:active {
  background-color: #6741d9;
  color: #f2edff;
}

/* Buttons Secondary Default Style */
.btn-secondary {
  background-color: #8f8b96;
  color: #f1f1f2;
}

/* Buttons Secondary Hover Style */
.btn-secondary:hover,
.btn-secondary:active {
  background-color: #76717f;
  color: #f1f1f2;
}

/* Buttons Secondary Focused Style */
.btn-secondary:focus {
  background-color: #64606c;
  color: #f1f1f2;
}

/* ////////////////////////////   Pagination Section Style Start Here   ////////////////////////////  */

/* Pagination Section Style */
.pagination {
  gap: var(--spacing2Xs);
}

/* Pagination Section Link Default Style */
.pagination .page-item .page-link {
  border-radius: var(--paginationBorderRadius);
  background-color: var(--colorBase600);
  color: var(--colorNeutral600);
  padding: var(--spacingSm);
  font-size: var(--fontSizeMd);
  line-height: var(--fontLineHeightMd);
  font-weight: var(--fontWeightMedium);
  border: none;
}

/* Pagination Section Link Hover Style */
.pagination .page-item .page-link:hover {
  background-color: var(--colorBase500);
  color: var(--colorNeutral600);
}

/* Pagination Section Link Active Style */
.pagination .page-item.active .page-link {
  background-color: var(--colorPrimary200);
  color: var(--colorPrimary500); /* Instead of 600*/
}

/* ////////////////////////////   Color Palette Section Style Start Here   ////////////////////////////  */

/* Palette Section Style */
.palette .padding-short {
  margin-bottom: var(--spacingMd);
}

/* Palette Section Item Style */
.palette .item {
  font-size: var(--fontSizeMd);
  line-height: var(--fontLineHeightMd);
  font-weight: var(--fontWeightRegular);
  padding: var(--spacingMd) var(--spacingSm);
}
/* Palette Section Item Primary 100 Style */
.palette .item.primary-100 {
  background-color: var(--colorPrimary100);
  color: var(--colorPrimary1000);
}

/* Palette Section Item Primary 200 Style */
.palette .item.primary-200 {
  background-color: var(--colorPrimary200);
  color: var(--colorPrimary1000);
}

/* Palette Section Item Primary 300 Style */
.palette .item.primary-300 {
  background-color: var(--colorPrimary300);
  color: var(--colorPrimary1000);
}

/* Palette Section Item Primary 400 Style */
.palette .item.primary-400 {
  background-color: var(--colorPrimary400);
  color: var(--colorPrimary1000);
}

/* Palette Section Item Primary 500 Style */
.palette .item.primary-500 {
  background-color: var(--colorPrimary500);
  color: var(--colorPrimary100);
}

/* Palette Section Item Primary 600 Style */
.palette .item.primary-600 {
  background-color: var(--colorPrimary600);
  color: var(--colorPrimary100);
}

/* Palette Section Item Primary 700 Style */
.palette .item.primary-700 {
  background-color: var(--colorPrimary700);
  color: var(--colorPrimary100);
}

/* Palette Section Item Primary 800 Style */
.palette .item.primary-800 {
  background-color: var(--colorPrimary800);
  color: var(--colorPrimary100);
}

/* Palette Section Item Primary 900 Style */
.palette .item.primary-900 {
  background-color: var(--colorPrimary900);
  color: var(--colorPrimary100);
}

/* Palette Section Item Primary 1000 Style */
.palette .item.primary-1000 {
  background-color: var(--colorPrimary1000);
  color: var(--colorPrimary100);
}

/* Palette Section Item Secondary 100 Style */
.palette .item.secondary-100 {
  background-color: var(--colorSecondary100);
  color: var(--colorSecondary1000);
}

/* Palette Section Item Secondary 200 Style */
.palette .item.secondary-200 {
  background-color: var(--colorSecondary200);
  color: var(--colorSecondary1000);
}

/* Palette Section Item Secondary 300 Style */
.palette .item.secondary-300 {
  background-color: var(--colorSecondary300);
  color: var(--colorSecondary1000);
}

/* Palette Section Item Secondary 400 Style */
.palette .item.secondary-400 {
  background-color: var(--colorSecondary400);
  color: var(--colorSecondary1000);
}

/* Palette Section Item Secondary 500 Style */
.palette .item.secondary-500 {
  background-color: var(--colorSecondary500);
  color: var(--colorSecondary100);
}

/* Palette Section Item Secondary 600 Style */
.palette .item.secondary-600 {
  background-color: var(--colorSecondary600);
  color: var(--colorSecondary100);
}

/* Palette Section Item Secondary 700 Style */
.palette .item.secondary-700 {
  background-color: var(--colorSecondary700);
  color: var(--colorSecondary100);
}

/* Palette Section Item Secondary 800 Style */
.palette .item.secondary-800 {
  background-color: var(--colorSecondary800);
  color: var(--colorSecondary100);
}

/* Palette Section Item Secondary 900 Style */
.palette .item.secondary-900 {
  background-color: var(--colorSecondary900);
  color: var(--colorSecondary100);
}

/* Palette Section Item Secondary 1000 Style */
.palette .item.secondary-1000 {
  background-color: var(--colorSecondary1000);
  color: var(--colorSecondary100);
}

/* ////////////////////////////   Footer Section Style Start Here   ////////////////////////////  */

/* Footer Section Links Default style */
.footer .link {
  font-size: var(--fontSizeMd);
  line-height: var(--fontLineHeightMd);
  font-weight: var(--fontWeightMedium);
  color: var(--colorNeutral400);
  padding: var(--spacingXs) var(--spacingSm);
}

/* Footer Section Links Hover style */
.footer .link:hover {
  color: var(--colorNeutral600);
}

/* ////////////////////////////   Alerts Section Style Start Here   ////////////////////////////  */

/* Alert Section Card Style */
.alert {
  padding: var(--spacingLg) var(--spacingLg);
  border-radius: var(--alertBorderRadius);
  border-width: var(--borderWidthMd);
}

/* Alert Section Card Icon Style */
.icon {
  margin-right: var(--spacingLg);
}

/* Alert Section Card Content Style */
.alert .content {
  font-size: var(--fontSizeSm);
  line-height: var(--fontLineHeightMd);
  font-weight: var(--fontWeightSemiBold);
}

/* Alert Section Card Text with link Style */
.alert span {
  text-decoration: underline;
}

/* Alert Section Card Primary Style */
.alert-primary {
  background-color: var(--alertPrimaryBgColor);
  border-color: var(--alertPrimaryBorderColor);
  color: var(--alertPrimaryFontColor);
  border-style: solid;
}

/* Alert Section Card Primary Icon Style */
.inbox {
  color: var(--alertPrimaryIconColor);
}

/* Alert Section Card Success Style */
.alert-success {
  background-color: var(--alertSuccessBgColor);
  border-color: var(--alertSuccessBorderColor);
  color: var(--alertSuccessFontColor);
  border-style: solid;
}

/* Alert Section Card Success Icon Style */
.badge-check {
  color: var(--alertSuccessIconColor);
}

/* Alert Section Card Warning Style */
.alert-warning {
  background-color: var(--alertWarningBgColor);
  border-color: var(--alertWarningBorderColor);
  color: var(--alertWarningFontColor);
  border-style: dashed;
}

/* Alert Section Card Warning Icon Style */
.shield-check {
  color: var(--alertWarningIconColor);
}

/* Alert Section Card Danger Style */
.alert-danger {
  background-color: var(--alertDangerBgColor);
  border-color: var(--alertDangerBorderColor);
  color: var(--alertDangerFontColor);
  border-style: solid;
}

/* Alert Section Card Danger Icon Style */
.lock {
  color: var(--alertDangerIconColor);
}

/* ////////////////////////////   Card Section Style Start Here   ////////////////////////////  */

/* Card Section Style */
.section.card {
  padding: 8px 8px;
}

/* Card Section Image Style */
.card .card-image {
  background-image: url("../imgs/card-image-light.png");
  border-radius: 8px;
  background-size: cover;
  height: 224px;
  background-repeat: no-repeat;
}

/* Card Section Body Style */
.card .card-body {
  padding: 20px 0px 12px;
}

/* Card Section Title Style */
.card .card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #3f404d;
  margin-bottom: 8px;
}

/* Card Section Text Style */
.card .card-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #62626d;
  margin-bottom: 24px;
}

/* Card Section Stars Style */
.card .card-body .reviews .stars {
  display: flex;
  gap: 2px;
}

/* Card Section Starts Icons Style */
.card .card-body .reviews .stars i {
  font-size: 12px;
  color: #f0be2e;
}

/* Card Section Review Style */
.card .card-body .reviews {
  gap: 8px;
  margin-bottom: 24px;
}

/* Card Section Review Number Style */
.card .card-body .reviews .number {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #86878f;
}

/* Card Section Price Style */
.card .card-body .price {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #794dff;
  margin-right: 8px;
}

/* Card Section Old Price Style */
.card .card-body .old-price {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #62626d;
}

/* /////////////// Don't Touch //////////// */

.theme {
  cursor: pointer;
}

.theme .theme-icon:hover {
  border: 2px solid #d1cfd7;
}

.active-theme .theme-icon {
  border: 2px solid #5f5d65;
}

.theme-icon {
  background-color: #fdfdfe;
  border-radius: 8px;
  padding: 12px;
  border: 2px solid #f3f2f7;
}
